*,
*::before,
*::after {
-webkit-box-sizing: border-box;
box-sizing: border-box; }

html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
display: block; }

body {
margin: 0;
color: #212529;
text-align: left;
background-color:#ca9a19; 
font-family: "Poppins", Arial, sans-serif;
font-size: 14px;
line-height: 1.8;
font-weight: normal;
background: #fafafa; }

[tabindex="-1"]:focus {
outline: 0 !important; }

hr {
-webkit-box-sizing: content-box;
box-sizing: content-box;
height: 0;
overflow: visible; }

h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0.5rem; 
line-height: 1.5;
font-weight: 400;
font-family: "Poppins", Arial, sans-serif;
color: #000; }

p {
margin-top: 0;
margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
text-decoration: underline;
-webkit-text-decoration: underline dotted;
text-decoration: underline dotted;
cursor: help;
border-bottom: 0;
text-decoration-skip-ink: none; }

address {
margin-bottom: 1rem;
font-style: normal;
line-height: inherit; }

ol,
ul,
dl {
margin-top: 0;
margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
margin-bottom: 0; }

dt {
font-weight: 700; }

dd {
margin-bottom: .5rem;
margin-left: 0; }

blockquote {
margin: 0 0 1rem; }

b,
strong {
font-weight: bolder; }

small {
font-size: 80%; }

sub,
sup {
position: relative;
font-size: 75%;
line-height: 0;
vertical-align: baseline; }


a {
color: #007bff;
text-decoration: none;
background-color: transparent; }
a:hover {
color:#5c7484;
text-decoration: underline; }


#content nav{
border-radius: 40px;
}

.outside{
position:relative;
}


.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto; }
@media (min-width: 576px) {
.container {
max-width: 540px; } }
@media (min-width: 768px) {
.container {
max-width: 720px; } }
@media (min-width: 992px) {
.container {
max-width: 960px; } }
@media (min-width: 1200px) {
.container {
max-width: 1140px; } }

.container-fluid {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto; }


.btn {
display: inline-block;
cursor: pointer;
font-weight: 400;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
color: #fff;
background: #f8b739;
border-color: #f8b739;
}
.btn:hover, .btn:focus {
background: #f8b739 !important;
border-color: #f8b739 !important; }

@media (prefers-reduced-motion: reduce) {
.btn {
-webkit-transition: none;
transition: none; } }


.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus,
.btn.dropdown-toggle:focus {}



.collapse:not(.show) {
display: none; }

.collapsing {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height 0.35s ease;
-o-transition: height 0.35s ease;
transition: height 0.35s ease; }
@media (prefers-reduced-motion: reduce) {
.collapsing {
-webkit-transition: none;
-o-transition: none;
transition: none; } }


.dropdown-toggle {
position: relative;
white-space: nowrap; }
.dropdown-toggle::after {
display: inline-block;
margin-left: 0.255em;
vertical-align: 0.255em;
content: "";
border-top: 0.3em solid;
border-right: 0.3em solid transparent;
border-bottom: 0;
border-left: 0.3em solid transparent; }
.dropdown-toggle:empty::after {
margin-left: 0; }

.navbar {
position: relative;
display: -webkit-box;
display: flex;
flex-wrap: wrap;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: justify;
justify-content: space-between;
padding: 15px 10px;
background: #fff;
border: none;
margin-bottom: 40px;
-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);}
.navbar > .container-fluid {
display: -webkit-box;
display: flex;
flex-wrap: wrap;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: justify;
justify-content: space-between; }


@media (max-width: 991.98px) {
.navbar > .container-fluid {
padding-right: 0;
padding-left: 0; } }

@media (min-width: 992px) {
.navbar {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-flow: row nowrap;
-webkit-box-pack: start;
justify-content: flex-start; }
.navbar .navbar-nav {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row; }
.navbar .navbar-nav .dropdown-menu {
position: absolute; }
.navbar .navbar-nav .nav-link {
padding-right: 0.5rem;
padding-left: 0.5rem; }
.navbar > .container,
.navbar > .container-fluid {
flex-wrap: nowrap; }
.navbar .navbar-collapse {
display: -webkit-box !important;
display: flex !important;
flex-basis: auto; }
.navbar .navbar-toggler {
display: none; } }


.sidebar-content {
padding: 1rem !important; 
padding-top: 3rem !important; }



a {
-webkit-transition: .3s all ease;
transition: .3s all ease;
color: #f8b739; }
a:hover, a:focus {
text-decoration: none !important;
outline: none !important;
-webkit-box-shadow: none;
box-shadow: none; }

button {
-webkit-transition: .3s all ease;
transition: .3s all ease; }
button:hover, button:focus {
text-decoration: none !important;
outline: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important; }

.wrapper {
width: 100%; 
background-color: #e2edec;
display: -webkit-box !important;
display: flex !important;
-webkit-box-align: stretch !important;
align-items: stretch !important;}

#sidebar{
border-radius: 40px;
padding: 20px 20px;
height: 700px;
margin-left: 20px;
}

#sidebar {
min-width: 300px;
max-width: 300px;
background: #425a59;
color: #fff;
-webkit-transition: all 0.3s;
transition: all 0.3s; }
#sidebar.active {
margin-left: -300px; }

#sidebar ul.components {
margin-bottom: 3rem !important;
padding: 0; }
#sidebar ul li {
font-size: 16px; }
#sidebar ul li > ul {
margin-left: 10px; }
#sidebar ul li > ul li {
font-size: 14px; }
#sidebar ul li a {
padding: 10px 0;
display: block;
color: rgba(255, 255, 255, 0.8);
border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
#sidebar ul li a:hover {
color: #f8b739; }
#sidebar ul li.active > a {
background: transparent;
color: #f8b739; }

.dropdown-toggle::after {
position: absolute;
top: 50%;
right: 0;
-webkit-transform: translateY(-50%);
transform: translateY(-50%); }

@media (max-width: 991.98px) {
#sidebarCollapse span {
display: none; } }

#content {
padding: 3rem !important; 
width: 100%;
padding: 0;
min-height: 100vh;
-webkit-transition: all 0.3s;
transition: all 0.3s; }


.footer p {
color: rgba(255, 255, 255, 0.5); }

@media (max-width: 1350px) {
.quote{display:none;}
table {width:700px !important;}

table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: .625em;
}

table td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .8em;
  text-align: right;
  width:700px;
}

table td::before {
  content: attr(data-th);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:last-child {
  border-bottom: 0;
}
}

@media (max-width: 1120px) {
#sidebar{transform:scale(0.8);}

#sidebar.active {margin-left: 0;}
#sidebarCollapse, .quote{display:none;}
.navbar{
  width:770px; 
  margin-left:-320px;
}
.container{margin-top:-70px; margin-left:-55px;}
table {width:500px !important;}

table td {
  width:500px;
}

}

@media (max-width: 825px) {
#sidebar {}
.navbar{
  width:650px; 
}
table {width:350px !important;}
table td {width:350px}
}


@media (max-width: 700px) {
#sidebar{transform:scale(0.6);
margin-left:-60px;
}
#components {
font-size:12px;}
/* .profile_photo, .calendar{display:none;} */
.navbar{
  width:380px;
  height: 150px;
  margin-left: -270px; 
}
table {width:200px !important; font-size:12px;}
table td {width:200px}
.container{margin-top:-30px; margin-left:-110px;}
#success-btn{font-size:12px !important; width: 200px;}
.quote{display:block;}
}