
	.icons{
	margin-top: 20px;
	}
	.flex-container{ 
	display: flex;  
	flex-flow: row wrap; 
	margin-top:20px;
	}
	.flex-item{
	padding: 15px;
	}
	.flex-item:nth-of-type(1) { flex-grow: 1; }
	.flex-item:nth-of-type(2) { flex-grow: 2; }

	.flex-container .flex-item{ width: 35%; margin: 0 0 15px}

	#profile_btn{
	position: relative;
	display: inline-block;
	padding: 9px 19px 9px 19px;
	color: #FFF;
	margin: 0 auto;
	background: rgba(26, 188, 156, .9);
	font-size: 14px;
	text-align: center;
	width: 35%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	font-weight: 700;
	margin-top: 5px;
	}

	#profile_btn:hover,
	.custom-file-upload:hover
	{
	background: #109177;
	}
	input[type="file"] {
	display: none;
	}	
	.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	position: relative;
	color: #FFF;
	background: rgba(26, 188, 156, .9);
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-right: 105px;
	margin-left: -21px;
	}